@font-face {
    font-family:'Nexa-Heavy';
    src: url('../font/Nexa-Heavy.woff') format('woff');  
}

@font-face {
    font-family:'Nexa-Light';
    src: url('../font/Nexa-ExtraLight.woff') format('woff');  
}

@font-face {
    font-family:'Nexa-Regular';
    src: url('../font/Nexa Regular.woff') format('woff');  
}

@font-face {
    font-family:'Nexa-Bold';
    src: url('../font/Nexa Bold.woff') format('woff');  
}


