@use '../abstracts/box' as b;

.header {
    position: sticky;
}

.logo {
    height: 46px;
    width: 140px;
    text-align: center;
    padding-top: 10px;
}

#button {
    height: 30px;
    width: 45px;
    margin-top: 8px;
    transition: all 1 ease;
}

#burger-con{
    display: none;
    position: absolute;
    background-color: #fff;   
}

#burger-con.slide-toggle {
    display: block;
    right: 0;
    left: 0;
}

#burger-con ul {
    list-style: none;
    padding: 0;
    li { 
        text-align: center;
        margin-bottom: 20px;
        border-bottom: 1px solid #000;   
        padding: 10px 0 15px 0;    
    }

    li a {
        text-decoration: none;
        color: #000;      
        font-size: 21px;    
    }
}


.hero {
    scroll-margin-left: 100vh;
}


@media screen and (min-width: 768px) {
    
    .button {
        height: 45px;
        margin-top: 15px;
    }

    .social {
        height: 116px; 
        // position: absolute;
        // margin-top: -45px;
    }

    // .social {
    //     z-index: 1;
    // }

    // main{margin-top: -69px;}

       
}

@media screen and (min-width: 1200px) {
    #button {
        display: none;
    }

    .logo {
        height: 82px;
    }
    
  
    #desktop { 
        display: block;  
        ul li {
            list-style: none;
            text-decoration: none;
            display: inline;
            padding-right: 26px;
        }
        ul li a{
            text-decoration: none; 
            font-size: 21px; 
            color: #000; 
        }
    }

    .desktop ul li { 
        text-decoration: none;
        
    }
    .desktop ul li a { 
        display: inline;  
    }

    nav { 
        grid-row: 1/2;
        grid-column: 2/-1;
    }
 
    #burger-con {
        display: block;
        
        background: none;
        
        ul li { display: inline;
            border-bottom: none;
            padding-right: 26px;
        }
   
        ul li a {
            border-bottom: none;
        }

    }

   #burger-con ul li:nth-last-child(-n+2) {
        display: none;
    }
       
    
}