.line-1{
    // top: 50%;  
    width: 5.18rem;
    // border-right: 2px solid rgba(255,255,255,.75);
    font-size: 1.25rem;
    white-space: nowrap;
    overflow: hidden;
    // -webkit-transform: translateY(-50%);
    // transform: translateY(-50%);
    // -webkit-box-sizing:content-box;
    // box-sizing:content-box;
}

