@use '../abstracts/box' as b;

.about-image {
    height: 407px;
    text-align: center;
}

.name h2 {
    margin-top: -25px;
    font-size: 45px;
    font-style: italic;
    line-height: 57px;
    font-weight: 100;
}

.name h3 span {
    font-size: 50px;
    padding-left: 127px;
}

.name p{
    padding: 0 18px 0 18px; 
    line-height: 24px;
    margin-top: 22px;
}


.quote  h3{
    grid-column: 1/-1;
    font-size: 23px;
    span{
        margin-left: 114px;
        font-size: 70px;
        font-style: italic;
        text-align: center;
    }
}

.quote p {
    grid-column: 1/5;   
}
