 footer {
    color: #fff;
    text-align: center;
    margin-top: 5rem;
    font-family: 'Nexa-Regular';
    letter-spacing: .3rem;
    span {
        border: solid .3px #fff;
        margin-left: 2px;
        margin-right: 2px;
    }
 }

 .line { 
    border: solid .1px #fff;
    margin-bottom: 1rem;
    margin-top:2rem ;
}

 