@use '../abstracts/box' as b;

.hero-image {
    // height: 423px;
    text-align: center;
    color: #ffff;
    padding: 0;
    grid-row: 3/3;

    h2 {
        font-size: 20px;
        margin-top: 111px;
        margin-left: 0;
        grid-row: 2/3;
    }
}

#watch {
    display: none;
    grid-row: 2/3;
    font-size: 13px;
    margin-top: 16px;
}

.demo-reel {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    grid-row: 2/3;
    margin: 10px;
    border: 0;
    background: url(../images/Demo_Play.svg) no-repeat center;
}

.demo-reel:hover {
    cursor: pointer;
}




// .hero-text {
//     ma
//     p {
//         font-size: 20px;
//         margin-left: 20px;
//     }
//     span {
//         padding: 10px;
//         font-size: 41px;
//     }
// }

.hero-image {
    grid-row: 1/3;
    padding: 0;
}

.hero-text {
    grid-row: 1/3;
    margin-top: 1rem;
    line-height: 2rem;
    font-family: Nexa-Bold;
    color: #200020;
    font-size: 20px;
    p {
        
        margin-left: 20px;
    }
}

@media screen and (min-width: 768px) {

        .demo-reel {
        height: 56px;
        width: 56px;
        margin: 55px;
        :hover {
            height: 60px;
            width: 60px;   
        }
    }
    
    #watch {
        font-size: 17px;
        height: 28px;
        margin-top: 68px;
        grid-column: 3/7;
        border-radius: 8px;
        grid-column: 3/7;
    }

    .demo-reel:hover {
        transform: scale(1.2);
        cursor: pointer;
       
        ~ #watch {
        display: block;
    }
    }

    .hero-text {
        grid-row: 1/3;
        margin-top: 4.5rem;
        line-height: 4.2rem;
        font-size: 8rem;
        p {
            font-size: 3rem;
           
        }
    }
    //    .hero {
    //     background-color: b.$box-darkgrey;}

        // .hero-image {
        //     grid-column: 6/-1;
        // }
}

@media screen and (min-width: 1200px) {
    // .hero-image {
    //     height: 550px;
    // }

    .demo-reel {
        height: 75px;
        width: 75px;
    }
    .demo-reel:hover {
        height: 80px;
        width: 80px; 
    }
    
    #watch {
        font-size: 22px;
        height: 35px;
        margin-top: 76px;
        grid-column: 2/6;
        border-radius: 8px;
        margin-left: 39px;
    }

    .hero-text p{
        font-size: 5rem;
        margin-left: 30px;
    
        // span {
        //     padding: 10px;
        //     font-size: 51px;
        // }
    }
       
}