@use '../abstracts/box' as b;

.hero-image {
    height: 423px;
    text-align: center;
    color: #ffff;
    padding: 0;
    grid-row: 3/3;

    h2 {
        font-size: 20px;
        margin-top: 111px;
        margin-left: 0;
        grid-row: 2/3;
    }
}

#watch {
    // display: none;
    grid-row: 2/3;
    font-size: 13px;
    background-color: #dadada;
    text-align: center;
    height: 20px;
    margin-top: 20px;
    margin-right: 20px;
    grid-column: 2/-1;
}

.demo-reel {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    grid-row: 2/3;
    margin: 10px;
}

.demo-reel:hover {
    height: 55px;
    width: 55px;
    cursor: pointer;
   
    ~ #watch h4 {
    display: contents;
}
}

.hero-text p{
    font-size: 20px;

    span {
        padding: 10px;
        font-size: 41px;
    }
}

.hero-image {
    grid-row: 1/3;
    padding: 0;
}

.hero-text {
    grid-row: 1/3;
    margin-top: 129px;
}